<h1><%= @group.name %></h1>
<p>
  Organizador: <%= @group.user.name %>
</p>

<%= render 'shared/participants_form' %>

<% if @participants.present? %>
    <h3>
      Participantes:
      <%= @participants.count %>
    </h3>

    <ul>
      <%= render @participants %>
      <%= will_paginate(@participants) %>
    </ul>

    <% if @participants.count > 2 && !@group.matched %>
      <%= link_to 'Sortear', group_match_path(@group), class:  "btn btn-primary",
                                                       method: 'post' %>
    <% end %>
    
<% end %>
