<%= link_to "Sair", sair_path, method: "delete" %>
<%= link_to "Página inicial", root_url %>
<% if current_user.admin? %>
    <%= link_to "Usuários", indice_path %>
<% end %>

<div class="col-md-8">
  <% if @user.groups.any? %>
    <h3>Grupos (<%= @user.groups.count %>)</h3>
    <ol class="groups">
      <%= render @groups %>
    </ol>
    <%= will_paginate @groups %>
  <% end %>
</div>

