<div class="col-md-6 col-md-offset-3">
  <%= form_for(@participant) do |f| %>
    <%= f.text_field   :name,  placeholder: 'Nome do participante'%>
    <%= f.text_field   :email, placeholder: 'E-mail do participante'%>
    <%= f.hidden_field :group_id %>

    <%= f.submit "Adicionar", class: "btn btn-primary" %>
  <% end %>
</div>
